.contact{
    border: solid;
    text-align: center;
    width:250px;
    height:200px;
    border-radius:7px;
    margin-bottom:20px;
    margin-left: 30px;
    background-color: darkgray;
}
.bouton{
    display: flex;
    justify-content: space-around;
}
.remove{
    margin-right:10px;
    height:40px;
    width:80px;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}
.modifier{
    height:40px;
    width:80px;
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border-radius: 5px;
}